@import "../../index.scss";
@import "./overrides.scss";

.empty-state__action {
  margin-bottom: $spacing-03;
}

.empty-state__content {
  @include carbon--type-style("productive-heading-01");
  margin-top: $spacing-05;
  margin-bottom: $spacing-03;
}

.error-state__desc {
  @include carbon--type-style("body-short-01");
  margin-bottom: $spacing-03;
}
