@import "../../../root.scss";

.warningIcon {
  fill: $inverse-support-03;
  margin-right: $spacing-05;
}

.warningIcon [data-icon-path="inner-path"] {
  fill: black;
  opacity: 1;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.vitalsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $spacing-09;
  padding-left: $spacing-05;
}

.vitalName {
  @extend .productiveHeading02;
  margin: 0 $spacing-05 0 0;
  color: $text-02;
}

.buttonText {
  @extend .bodyShort01;
}

.expandButton {
  color: $color-blue-60-2;
}
