.upload input[type="file"] {
  display: none;
}

.uploadLabel {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.cameraSection {
  padding: 10px;
}

.react-html5-camera-photo > img,
.react-html5-camera-photo > video {
  width: 100%;
}
