@import "../../root.scss";

.content {
  @include carbon--type-style("productive-heading-01");
  color: $text-02;
  margin-top: $spacing-05;
  margin-bottom: $spacing-03;
}

.errorMessage {
  margin-bottom: $spacing-03;
  @include carbon--type-style("body-short-01");
  color: $text-02;
}

.heading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 1rem;
  @include carbon--type-style("productive-heading-03");
  color: $text-02;
}
