.card {
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  padding: 0.625rem;
}

:global(.omrs-breakpoint-lt-desktop) .card {
  width: 100%;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.08),
    0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.04);
}

:global(.omrs-breakpoint-gt-tablet) .card {
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.08),
    0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.04);
}

:global(.omrs-breakpoint-lt-desktop) .card {
  margin: 0rem 0rem;
}

.editVisitHeader {
  display: flex;
  justify-content: space-between;
}
