:global(.omrs-breakpoint-gt-phone) .vitalSummary {
  display: flex;
}

:global(.omrs-breakpoint-lt-tablet) .vitalSummary {
  padding: 0.25rem 0.5rem 0 0.5rem;
}

.vitalContainer {
  display: grid;
  grid-gap: 25px;
}

.vitalCard {
  margin: 0rem 1rem;
}

.vitalCard p {
  color: var(--omrs-color-ink-medium-contrast);
}

.vitalTable {
  width: 100%;
  margin: 1rem 0rem;
}

.vitalTable tbody tr td {
  padding: 1.375rem 0rem;
}

td.label {
  color: var(--omrs-color-ink-medium-contrast);
  width: 20%;
}

td.value {
  color: var(--omrs-color-ink-high-contrast);
  font-family: "Work Sans";
  font-weight: 500;
}

.vitalTable tbody tr td span {
  color: var(--omrs-color-ink-medium-contrast);
}
