.vitalsTable {
  width: 100%;
  font-family: "Work Sans";
  overflow-x: scroll;
}

.vitalsTable thead td {
  padding: 1rem 0.25rem 1rem 1rem;
}

.vitalsTable thead tr td {
  text-align: left;
}

.vitalsTable thead {
  border-bottom: 1px solid var(--omrs-color-bg-low-contrast);
}

.vitalsTable thead td span {
  font-weight: normal;
  color: var(--omrs-color-ink-medium-contrast);
}

.vitalsTable tbody td {
  padding: 0.5rem 0.25rem 0.5rem 1rem;
}

.vitalsTable tbody td:first-child {
  text-align: center;
}

.vitalsTable tbody td {
  text-align: left;
}

.vitalsTable tbody td:last-child {
  text-align: right;
}

.vitalsTable tbody td span {
  color: var(--omrs-color-ink-medium-contrast);
}

.vitalsTable tbody tr {
  border-bottom: 1px solid var(--omrs-color-bg-low-contrast);
}

.vitalsFooter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem 0rem 0rem 0.5rem;
  background-color: var(--omrs-color-bg-medium-contrast);
  margin: 0rem;
  color: var(--omrs-color-ink-medium-contrast);
}

.vitalsFooter p {
  padding-left: 0.5rem;
}
