@import "../../root.scss";

.warningColor {
  // fill: $ui-05;

  border-radius: $spacing-09;
  background-color: $inverse-support-03;
}

.warningBackground {
  background-color: $warning-background;
  padding: $spacing-03;
}
