@import "../../root.scss";

.floatingButtonContainer {
  background-color: $interactive-01;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.313rem 0 2.125rem 23.125rem;
  padding: 1.188rem 1.063rem 1.063rem 1.188rem;
  box-shadow: 0 16px 40px 0 rgba(112, 144, 176, 0.2),
    0 8px 24px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $ui-02;
}
