@import "../../root.scss";

.biometricHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-03;
}

.iconContainer {
    display: flex;
    align-items: center;
}

.toggleButtons {
    width: fit-content;
    margin: 0 $spacing-03 $spacing-03 $spacing-03;    
}
