@import "~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/type/styles";
@import "~carbon-components/src/globals/scss/vendor/@carbon/layout/scss/generated/spacing";
@import "~carbon-components/src/globals/scss/vendor/@carbon/layout/scss/generated/layout";

$ui-background: #ffffff;
$ui-01: #f4f4f4;
$inverse-support-03: #f1c21b;
$warning-background: #fff8e1;
$ui-05: #161616;
$color-gray-70: #525252;
$color-yellow-50: #feecae;
$openmrs-background-grey: #f4f4f4;

.productiveHeading02 {
  @include carbon--type-style("productive-heading-02");
}

.bodyShort01 {
  @include carbon--type-style("body-short-01");
}
