@import "../../../root.scss";

.vitalsBiometricContainer {
  background-color: $ui-01;
  margin-left: $spacing-05;
}

.vitalsTitle {
  @extend .productiveHeading03;
  margin: 0 $spacing-03 $spacing-05 $spacing-03;
}

.vitalsButton {
  margin: $spacing-07 0 0 0;
}
