.appointmentTable {
  width: 100%;
  table-layout: fixed;
  text-align: start;
}

.appointmentTable thead {
  font-weight: 500;
  border-bottom: 0.0625rem solid var(--omrs-color-bg-low-contrast);
}

.appointmentTable thead td {
  padding: 1rem 0.25rem 1rem 1rem;
}

.appointmentTable thead tr td {
  text-align: left;
}

.appointmentTable tbody tr {
  border-bottom: 0.0625rem solid var(--omrs-color-bg-low-contrast);
}

.appointmentTable tbody td {
  padding: 0.5rem 0.25rem 0.5rem 1rem;
}

.appointmentTable tbody tr td:nth-child(1) {
  font-family: "Work Sans";
}
