.appointmentTable {
  width: 100%;
  table-layout: fixed;
  text-align: start;
}

.appointmentTable thead {
  font-weight: 500;
  border-bottom: 0.0625rem solid var(--omrs-color-bg-low-contrast);
}

.appointmentTable td {
  padding: 0.625rem;
}

.appointmentTable tbody tr {
  border-bottom: 0.0625rem solid var(--omrs-color-bg-low-contrast);
}

.appointmentTable tbody tr td:nth-child(1) {
  font-family: "Work Sans";
}
