:global(.omrs-breakpoint-gt-phone) .immunizationSummary {
  display: flex;
  justify-content: center;
  /*width: 50%;*/
}

:global(.omrs-breakpoint-lt-tablet) .immunizationSummary {
  padding: 0.25rem 0.5rem 0 0.5rem;
}

:global(.omrs-breakpoint-lt-tablet) .immunizationTable thead td {
  padding: 0.25rem 0.125rem 0.5rem 0.5rem;
}

.headerAdd {
  grid-area: b;
  justify-self: center;
  padding-right: 1em;
}

.immunizationTable td:nth-child(1) {
  width: 35%;
}

.immunizationTable tbody td:nth-child(1) {
  text-align: left;
}

.immunizationTable td:nth-child(2) {
  text-align: left;
  width: 50%;
}
.immunizationTable td:nth-child(3) {
  width: 15%;
  text-align: right;
  font-family: "Work Sans";
}

.immunizationTable {
  width: 100%;
  padding-bottom: 5px;
}

.immunizationTable tbody {
  padding: 2rem;
}

:global(.omrs-breakpoint-lt-tablet) .immunizationTable tbody {
  padding: 1rem;
}

.immunizationTable td {
  padding: 0.75rem 0 0.75rem 1rem;
}

.immunizationTable .expandSeries {
  float: left;
  width: 43%;
}

.centerItems {
  display: flex;
  align-items: center;
}

.alignRight {
  justify-content: flex-end;
}

.alignLeft {
  justify-content: flex-start;
}

.alignRight span {
  margin-right: 1rem;
}

.immunizationMargin {
  margin: 1rem 1rem;
}

.immunizationMargin p {
  padding-bottom: 1rem;
}

.immunizationTable thead tr {
  background: var(--omrs-bg-immunization-header);
}

.immunizationTable tbody .immunizationRow:nth-child(odd) {
  background: var(--omrs-bg-immunization-odd-row);
}

.immunizationTable tbody .immunizationRow:nth-child(even) {
  background: var(--omrs-bg-immunization-even-row);
}

.hideSeries {
  display: none;
}
